* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin: 0;
}
.top {
  background-color: #00ff00;
  width: 100%;
  height: 10px;
  position: fixed;
  top: 0px;
}
.top-button {
  position: fixed;
  bottom: 20px;
  right: 30px;
  color: white;
  background-color: rgb(50, 90, 50);
  padding: 15px;
  border-radius: 50%;
  text-decoration: none;
}
.top-button:hover {
  background-color: gray;
}
.left {
  box-sizing: border-box;
  width: 25%;
  height: 100vh;
  background-color: rgb(50, 90, 50);
  float: left;
  color: white;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.name {
  font-size: 19px;
}

/* .bio {
  text-align: center;
} */

.connect-button {
  color: whitesmoke;
  background-color: rgb(50, 90, 50);
  font-size: small;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 30px;
  border: 2px solid whitesmoke;
  margin: 30px 0;
}
.connect-button:hover {
  color: rgb(50, 90, 50);
  background-color: whitesmoke;
}

.right {
  width: 75%;
  height: 100vh;
  background-color: rgb(24, 24, 26);
  float: left;
  color: white;
  overflow: auto;
  box-sizing: border-box;
  padding: 10px;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 10px;
  color: black;
  border-radius: 5px;
}

.nav-container h3 {
  margin: 0;
}

.nav a {
  color: gray;
  text-decoration: none;
  margin: 0 0px;
  padding: 10px;
}

.nav a:hover {
  color: black;
  color: rgb(50, 90, 50);
  font-weight: bold;
}

.content {
  margin: 30px 0px;
}
.contact {
  margin: 30px 0px;
}
address a {
  color: #00ff00;
  text-decoration: none;
}
.about {
  margin: 30px 0px 50px 0px;
}

@media only screen and (max-width: 500px) {
  .left {
    float: none;
    width: 100%;
    padding: 20px;
  }
  .right {
    float: none;
    width: 100%;
    height: auto;
  }
}
